.row {
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #eee;
    border-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    margin: 20px 10px 10px 10px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}

img {
    width: 70px;
}
